body {
  padding-top: 50px;
  font-family: 'Open Sans',sans-serif;
}

.navbar-brand img {
  height: 20px;
}

div[ui-view] {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.avatar {
  height: 30px;
}

.ui-grid-top-panel-background,
.ui-grid-top-panel,
.ui-grid-no-row-overlay,
.ui-grid-footer-panel-background,
.ui-grid-footer-panel {
  background: #f3f3f3;
}

/* Table styling */
/*.th {
  background-color: #2e2e2e;
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
}
.th,
.tr {
  display: flex;
}
.th,
.tr:not(:last-child) {
  border-bottom: 1px solid #c0c0c0;
}
.td {
  padding: 16px 10px;
}
.td:not(:last-child) {
  border-right: 1px dotted #c0c0c0;
}*/
/* End Table styling */