body {
  padding-top: 50px;
  font-family: 'Open Sans',sans-serif;
}

.navbar-brand img {
  height: 20px;
  display: none;
}

div.grid.ui-grid {
  margin-top: 20px;
}

.avatar {
  height: 40px;
}
.avatar-large {
  max-height: 200px;
  max-width: 220px;
  margin-right: 20px;
}

.dl-horizontal {
  border: 1px solid #c0c0c0;
}

.dl-horizontal span {
  display: block;
  padding: 10px;
  background-color: #eee;
}
.dl-horizontal span:not(:last-child) {
  border-bottom: 1px dotted #c0c0c0;
}

.ui-grid-top-panel-background,
.ui-grid-top-panel,
.ui-grid-no-row-overlay,
.ui-grid-footer-panel-background,
.ui-grid-footer-panel {
  background: #f3f3f3;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #eee;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.account-wall,
.dl-horizontal {
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}

/* Spinner styling */
#loading-bar-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
#loading-bar-spinner .spinner-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border-top-color: #29d;
  border-left-color: #176b9a;
}

/* Table styling */
/* Table styling */
th {
  background-color: #2e2e2e;
}
th, th a, th a:hover {
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
}
th a {
  cursor: pointer;
}
th,
tr:not(:last-child) {
  border-bottom: 1px solid #c0c0c0;
}

td:not(:last-child) {
  border-right: 1px dotted #c0c0c0;
}
/* End Table styling */

@media (min-width: 768px) {
  .jumbotron h1 {
    display: inline;
    white-space: nowrap;
  }
}