<div class="jumbotron">
    <div class="container-fluid">
        <h1>{{addEditEmployeeCtrl.title}}</h1>
    </div>
</div>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" ng-upload="addEditEmployeeCtrl.uploadComplete(content)" action="{{addEditEmployeeCtrl.action}}">
              <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" ng-model="addEditEmployeeCtrl.employee.firstName" required>
                </div>
              </div>

              <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" ng-model="addEditEmployeeCtrl.employee.lastName" required>
                </div>
              </div>

              <div class="form-group">
                <label for="picture" class="col-sm-2 control-label">Picture</label>
                <div class="col-sm-10">
                  <input type="file" id="picture" name="picture" ng-model="addEditEmployeeCtrl.employee.picture">
                </div>
              </div>

              <div class="form-group">
                <label for="jobTitle" class="col-sm-2 control-label">Job Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Job Title" ng-model="addEditEmployeeCtrl.employee.jobTitle" required>
                </div>
              </div>

              <div class="form-group">
                <label for="location" class="col-sm-2 control-label">Location</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="location" name="location" placeholder="Location" ng-model="addEditEmployeeCtrl.employee.location"  required>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="addEditEmployeeCtrl.employee.email"  required>
                </div>
              </div>
              <div class="form-group">
                <label for="phoneNumbers" class="col-sm-2 control-label">Phone Numbers (comma-separated)</label>
                <div class="col-sm-10">
                  <input class="form-control" id="phoneNumbers" name="phoneNumbers" placeholder="Phone Numbers" ng-model="addEditEmployeeCtrl.employee.phoneNumbers"></input>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="submit" class="btn btn-primary" value="Save" ng-disabled="$isUploading" />
                </div>
              </div>
            </form>
        </div>
    </div>
</div>