<div class="container-fluid container-margin-top" ng-if="model.showAdminControls">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary pull-right">Add Employee</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div ui-grid="homeCtrl.gridOptions" ui-grid-pagination class="grid"></div>
    </div>
  </div>
</div>

<!-- <div class="table">
  <div class="row th">
    <div class="col-md-1 td">Picture</div>
    <div class="col-md-2 td">First Name</div>
    <div class="col-md-2 td">Last Name</div>
    <div class="col-md-2 td">Job Title</div>
    <div class="col-md-1 td">Location</div>
    <div class="col-md-2 td">Email</div>
    <div class="col-md-2 td">Phone Numbers</div>
  </div>
  <div class="row tr" ng-repeat="employee in homeCtrl.employees">
    <div class="col-md-1 td">
      <img class="avatar" src="{{employee.picture}}" />
    </div>
    <div class="col-md-2 td">{{employee.firstName}}</div>
    <div class="col-md-2 td">{{employee.lastName}}</div>
    <div class="col-md-2 td">{{employee.jobTitle}}</div>
    <div class="col-md-1 td">{{employee.location}}</div>
    <div class="col-md-2 td">{{employee.email}}</div>
    <div class="col-md-2 td">{{employee.phoneNumbers}}</div>
  </div>
</div> -->